html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.mrj-quiz-edit-block {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  background-color: #f1f1f1;
}

textarea {
  white-space: pre-wrap; /* Ensures that line breaks are respected */
}

.mrj-quiz-edit-block .question-label {
  font-size: 20px;
}

.mrj-quiz-edit-block .mark-as-choice {
  color: #ffd700;
  position: relative;
  top: -3px;
  transition: transform 0.3s ease-out;
}
.mrj-quiz-edit-block .mark-as-choice:hover {
  transform: scale(1.25) rotate(12deg);
}
.mrj-quiz-edit-block .mrj-delete {
  color: #ff0000;
  position: relative;
  top: -5px;
}
.mrj-quiz-edit-block .mrj-delete:hover {
  color: #c20000;
}
.choice-btn {
  margin-bottom: 2rem;
}
hr {
  border: 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
